/* ----------------------------------------------------- HOVER NAVBAR  -----------------------------------------------------*/

.nav-item a{
color: white !important;
transition: all 0.4s linear;
}
.nav-item a:hover{
  color: #00fa71 !important; 
  }

/* ---------------------------------------------- EFECTO IMAGEN PRINCIPAL ------------------------------------------------ */

header {
  height: 100vh;
  background-image: url('../img/index/reciclar_ppal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.wave {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 100px;
}

/* ----------------------------------------------- PRINCIPAL RESPONSIVE ----------------------------------------------- */

@media (max-width:768px) {
  .servicio-fila {
    width: 100% !important;
    text-align: center;
  }
}



/* ------------------------------------------------- FORMULARIO CONTACTO ------------------------------------------------- */

.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #004b22;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}


/* ------------------------------------------------- CALCULO DE  EDAD ------------------------------------------------- */
#edadSeccion{
  text-align: center;
}
#inputEdad{
  margin: 30px;
}
#fechanacimiento{
  width: 50%;
  margin-left: 25%;
}
.container {
  width: auto;
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 20px auto;
  border: none;
  padding: 10px 44px;
  font-size: 36px;
  position: relative;
}
#aviso1{
text-align: center;
}


/* ------------------------------------------------------ FOOTER -------------------------------------------------------- */

.footer-hover a{
    color: white;
    transition: all 0.4s linear;
}
.footer-hover a:hover{
    color: #d3cc00;
}

  .svg-inline--fa {
    vertical-align: -0.2em;
  }
  
.rounded-social-buttons {
    text-align: center;
  }
  
  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  
  .rounded-social-buttons .social-button:hover,
  .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .rounded-social-buttons .fa-twitter,
  .fa-facebook-f,
  .fa-linkedin,
  .fa-youtube,
  .fa-instagram {
    font-size: 25px;
  }
  
  .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
  }
  .rounded-social-buttons .social-button.facebook:hover,
  .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}
  .rounded-social-buttons .social-button.twitter {
    background: #55acee;
  }
  .rounded-social-buttons .social-button.twitter:hover,
  .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}
  .rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
  }
  .rounded-social-buttons .social-button.linkedin:hover,
  .rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
  }
  .rounded-social-buttons .social-button.youtube {
    background: #bb0000;
  }
  .rounded-social-buttons .social-button.youtube:hover,
  .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}
  .rounded-social-buttons .social-button.instagram {
    background: #125688;
  }
  .rounded-social-buttons .social-button.instagram:hover,
  .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
  }